extends layout

block content
	div(id='maincont')
		div(id='stats')
		div(id='game')
			canvas(id='canvas')
		div(id='chat')
			div(id='chatbox')
			form(id='chatForm')
				input(id='messageInput', type='text', placeholder='Enter message here')
				button(type='submit', id='sendMessageBtn') Send
	
	script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
	script(src='/javascripts/room.js')