html, body {
	color: silver;
	background-color: #181818;
	height: 100%;
    width: 100%;
	margin: 0;
}
button{
	background-color: #404040;
	color: silver;
	border: 1px solid grey;
	font-size: 20px;
	padding: 4px;
	cursor: pointer;
}
input{
	background-color: #404040;
	color: silver;
	border: 1px solid grey;
	font-size: 20px;
	padding: 4px;
}
.centerContainer{
	background-color: #202020;
	width: 320px;
	padding: 10px 0px 0px 0px;
	border: 1px solid #404040;
}
#roomsList{
	font-size: 18px;
	height: 200px;
	width: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.deleteRoomLink:hover{
	cursor: pointer;
	background-color: #404040;
}

.roomName:link{
	color: silver;
	text-decoration: none;
}

 .roomName:visited{
	color: silver;
 }

.roomName:hover{
	cursor: pointer;
	background-color: #404040;
}

#usernameForm{
	background-color: #404040;
}

#usernameInput{
	width: 70%;
}

#usernameSubmit{
	width: 25%;
}

.close-modal{
	display: none !important;
}

#maincont{
	display: flex;
	flex-flow: rows;
	height: 100%;
}

#game{
	flex: 70%;
	flex-grow: 1;
	border: 3px solid grey;
}

#chat{
	flex: 30%;
	flex-grow: 1;
	display: flex;
	flex-flow: column;
	height: 100%;
	background-color: #303030;
}

#chatbox{
	flex: 95%;
	flex-grow: 1;
	display: flex;
	flex-flow: column;
	overflow: auto;
}

#chatForm{
	flex: 5%;
	flex-grow: 1;
	display: flex;
}

#messageInput{
	width: 100%;
}

#sendMessageBtn{
	width: 20%;
	background-color: #505050;
}

.message{
	display: flex;
	flex-flow: rows;
}
.timestamp{
	flex-grow: 1;
	flex: 10%;
	text-align: right;
	margin: 0px 10px 0px 0px;
}
.author{
	color: white;
	margin: 0px 0px 0px 0px;
}
.divider{
	margin: 0px 10px 0px 0px;
}
.messageBody{
	flex: 80%;
	flex-grow: 1;
	margin: 0px 0px 0px 0px;
}